body{
  font-family: helvetica;
}

.title-container{
  border: 5px black solid;
}

.title-container_title{
 text-align: center;
}

.wrapper{
  margin: 1rem;
}

.searchDiv, .movieContainer, .tvContainer{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px black solid;
   border-radius: 10px;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.movieContainer form, .tvContainer form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.movieContainer button, .tvContainer button{
  margin-top: 1rem
}

.searchDiv form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchDiv button{
  margin-left: 1rem;
}

.searchForm{
  margin-right: 30%;
  margin-left: 30%;
}

.movieTitle{
  font-weight: 100;
}

.movieDescription{
  color: grey;
  margin-left: 2rem;
  margin-right: 2rem;
}

.movieResultsDiv table{
  border: 1px black solid;
  border-radius: 10px;
  /* margin: 1rem; */
  margin-top: 1rem;
  width: 100%;
}

img{
  border-radius: 10px;
}



